body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
  margin: 2em 4em 2em 4em;
  font-size: 110%;
  height: 1.25em;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  color: #dce2d5;
  background-color: #211d1d;

}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height:100%;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h1 {font-size: 2em; color: #dce2d5;}
h2 {font-size: 1.8em; color: #acb2a6;}
h3 {font-size: 1.6em; color: #94998f;}
h4 {font-size: 1.4em; color: #909090;}
h5 {font-size: 1.2em; color: #989898;}
h6 {font-size: 1em; color: #9c9c9c;}

p, pre, blockquote, table, ul, ol, dl {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul ul, ul ol, ol ol, ol ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

li { margin: 0.3em auto; }

ul {
  margin-left: 2em;
  padding-left: 0;
}

dt { font-weight: bold; }

img { border: none; }

pre {
  border-left: 5px solid #dcdcdc;
  background-color: #f5f5f5;
  padding-left: 1em;
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 0.8em;
  border-radius: 6px;
}

p > a {
  color: #e89b68;
  font-weight: bold;
}

p > a:hover {
  color: #e5752b;
  }

li > a {
  color: #e89b68;
  font-weight: bold;
  text-decoration: none;
}

li > a:hover { color: #e5752b; }

blockquote {
  color: #686868;
  font-size: 0.8em;
  line-height: 120%;
  padding: 0.8em;
  border-left: 5px solid #dcdcdc;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.3em;
}


hr {
  border: none;
  border-top: 1px solid #ccc;
  width: 100%;
}

del {
  text-decoration: line-through;
  color: #777777;
}

.toc li { list-style-type: none; }

.todo {
  font-weight: bold;
  background-color: #ff4500 ;
  color: white;
  font-size: 0.8em;
  padding: 3px 6px;
  border-radius: 3px;
}

.justleft { text-align: left; }
.justright { text-align: right; }
.justcenter { text-align: center; }

.center {
  margin-left: auto;
  margin-right: auto;
}

.tag {
  background-color: #eeeeee;
  font-family: monospace;
  padding: 2px;
}

.header a {
  text-decoration: none;
  color: inherit;
}

/* classes for items of todo lists */

code {
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0px 3px;
  display: inline-block;
  color: #e2ded5;
  border: 1px solid #ccc;
  background-color: #000000;
}
